/* Background */
body{
    background-image:linear-gradient(#18a5a7,#d9ecc7);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.jumbotron{
    margin-bottom: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* Headline */
h1{
    text-align: center;
    font-size: 4rem;
    margin: 1px;
    padding: 1px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* Title */
h2{
    font-size: 3rem;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif ;
}
h3{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* card title */
h4{
    font-size: 1.5rem;
    color: black;
    font-family: 'Open Sans', sans-serif ;
}
h5{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif ;
}

a{
    font-family:'Open Sans', sans-serif;
    color: black;
}

/*size when app/small window*/
@media (max-width: 768px) {
    h1{
        font-size: 2rem;
    }

    h2{
    font-size: 2rem;
    }
    
    a{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
    }
}
/* size when big browser window*/
@media (min-width: 769px){
}
