.card{
    border:none;
}

#img-jumbo{
    background-image:url('/images/headnofont.png');
    opacity: 80%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.centered {
    text-align: center;
    color: white;
    font-size: 6rem;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 3px 3px 5px #000000;

  }

.spaceing {
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 0.3rem;
    background-color:transparent;
}

#headline2{
    display: block;
    text-align: center;
    margin-top: 5%;
}

.card-img-top {
    height: 15rem;
    overflow: hidden;
}

.card-link{
    color: white;
    border-radius: 4px;
    background-color:#18a5a7;
    font-size: 0.9rem;
    border: none;
    padding: 3px 20px;;
    font-family:'Open Sans', sans-serif;
}


.card-columns {
    column-count: 1;
}

@media (max-width: 768px) {
    .container{
        margin-bottom: initial;
    }
    .card-link{
        font-size: 0.5rem;
        padding: 3px 25px;
    }
    .centered{
        font-size: 4rem;
    }
}

@media (min-width: 769px){
    .card-deck .card{
        margin-bottom: 1rem;
    }

    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 270px){
    .card-img-top {
        overflow: hidden;
        height: auto;
    }
    .card-columns{
        column-count: 2;
    }
}