.card{
    border:none;
}

#img-jumbo-nutrition,#img-jumbo-breakfast,#img-jumbo-lunch, #img-jumbo-dinner, #img-jumbo-snacks{
    height: auto;
    opacity: .8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    padding-top: 250px;
    position: relative;
}
#img-jumbo-nutrition{
    background-image:url("/wondermom/images/nutritionbanner.jpg");;
}
#img-jumbo-breakfast {
    background-image: url("/wondermom/images/breakfastBanner.jpg");
}
#img-jumbo-lunch{
    background-image: url("/wondermom/images/lunchBanner.jpg");
}
#img-jumbo-dinner {
    background-image: url("/wondermom/images/dinnerBanner.jpg");
}
#img-jumbo-snacks{
    background-image:url("/wondermom/images/snackBanner.jpg");

}

.centered {
    text-align: center;
    color: white;
    font-size: 6rem;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 3px 3px 5px #000000;

  }

.spaceing {
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 0.3rem;
    background-color:transparent;
}

#headline2{
    display: block;
    text-align: center;
    margin-top: 5%;
}

.card-img-top {
    height: 15rem;
    overflow: hidden;
}

.card-link{
    color: white;
    border-radius: 4px;
    background-color:#18a5a7;
    font-size: 0.9rem;
    border: none;
    padding: 3px 20px;;
    font-family:'Open Sans', sans-serif;
}


.card-columns {
    column-count: 4;
}

@media (max-width: 1200px) {
    .container{
        margin-bottom: initial;
    }
    .card-link{
        font-size: 0.5rem;
        padding: 3px 25px;
    }
    .centered{
        font-size: 4rem;
    }
    .card-columns{
        column-count: 2;

    }
}

@media (min-width: 766px){
    .card-deck .card{
        margin-bottom: 1rem;
    }
}

@media (min-width: 200px){
    .card-img-top {
        overflow: hidden;
        height: auto;
    }
}