#main {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;

}

.card-deck {
    margin-top: 3%;
}


.centerButton {
    margin:0 auto;
    border-style:none;
    display:table;
    margin-top: 5%;
    text-decoration: none;
}

#tryThisButton {
    font-size: 18px;
}

#headline{
    text-align: center;
    font-size: 150%;
    border-style: solid;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 25px;
}

#jumbotronForPrograms {
    background-image: url("/wondermom/images/programsBanner.jpg");
    opacity: .9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    padding-top: 250px;
    position: relative;
}