p{
    text-align: center;
}

.progressHeadline{
    margin: 0 auto;
    max-width: 35%;
}
#containerProgress{
    background-color: rgba(255, 255, 255, 0.639);

}
#button{
    margin:0 auto;
    border-style:none;
    display:table;
    margin-top: 5%;
    text-decoration: none;
}
.button{
    background-color:white;
    color: black;
    border-radius: 5px;
    border: none;
    margin: 0.5rem;
    padding: 2px 20px;
    font-size: 24px;
    text-decoration: none;
}
#dayChart{
    margin-top: 8%;
}
#cardContainer{
    margin-right: 5%;
    margin-top: 6%;
    margin-left: 5%;
}

.centerButton {
    display: table;
    margin: 0 auto;
}
#button{
    margin-top: -40px;
    margin-bottom: 5%;
    font-size: 17px;
}
#jumbotronSixWeek {
    background-image: url("/wondermom/images/sixWeekBanner.jpg");
    opacity: .9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    padding-top: 250px;
    position: relative;
    margin-bottom: 0;
}







.card-title{
    text-align: center;
}


input[type="checkbox"] {
    margin-top: 5%;
}

/*
    Progress bar
 */
.progressbar-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;

}

.progressbar-bar {/*change here for the width of the progress bar but not the color??? */
    height: 50px;
    width: auto; /*to change the length of the progress bar*/
    background-color: gray;
    box-shadow: #174c4f;
}

.progress-indicator {
    border-width: 25px;
    border-color: cornflowerblue;
    background-color: #75c1b5;
    height: 100%;
}

.progressbar-label {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

}
@media (min-width: 768px) {
    .progressHeadline{
        max-width: 40%;
    }
    h1{
        margin-top: 4%;
        font-size: 40px;
    }
}
@media (min-width: 1209px) {
    #jumbotronSixWeek{
        padding: 250px;
    }
    h1{
        margin-top: 2%;
        font-size: 44px;
    }
    .progressHeadline{
        max-width: 40%;
    }
}
@media (max-width: 700px) {
    #jumbotronSixWeek{
        padding: 100px;
    } 
    .progressHeadline {
        max-width: 60%;
    }
    h1{
        margin-top: 4%;
        font-size: 2rem;
    }
}
