#cardContainer{
margin-right: 5%;
    margin-left: 5%;
}
#jumbotronWeekOne {
    background-image: url("/wondermom/images/weekOneBanner2.jpg");
    opacity: 93%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    padding-top: 250px;
    position: relative;
}