.blurb p {
    font-size: 2,5rem;
    font-weight: 100;
    color: green;
}

#aboutjumbotron {
    background-image: url("/wondermom/images/pregnant2.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    opacity: .7;
    width: 100%;

   
}
.content {
    margin-top: 100px;
}