ul.list-unstyled li a {
    color: white;
    text-decoration: none;
}
a:hover{
    border-radius: 10px;
}
.text{
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}
.button{
    color: white;
}