ul.list-unstyled li a {
    text-decoration: none;
    color: #174c4f;
    margin-right: 1px;
}
.mb-1{
    color: #174c4f;
}
a:hover{
    border-radius: 10px;
}
.text{
    margin-left: 10%;
    margin-right: 10%;
    color: #174c4f;
}
.centerButton{
   margin-top: 1%;
}
