body {
    background-color: #C8D9EB;
}

#buttonHome {
    background-color: #07A3B2;
    color: white;
}
#textOnTop{
    margin-top: 10%;
}

#topjumbotron {
    background-image: url("/wondermom/images/yoga2.jpg");
    background-size: cover;
    background-position: 50% 30%;
    background-attachment: fixed;
    position: relative;
    padding: 250px;
    height: auto;
    width: auto;
    min-height: 100vh;
    opacity: .9;
}

i {
    margin-left: 0;
}

.services {
    padding: 20px;
    margin-top: 20px;
}


#home-extra {
    position: relative;
    min-height: 200px;
    background: url("/wondermom/images/weight.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;

}
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(192,192,192,0.3);
}

/*size big window*/
@media (min-width: 1209px) {
    #topjumbotron{
        padding: 250px;
    } 
    
}

/*size when app/small window*/
@media (max-width: 700px) {
    #topjumbotron{
        padding: 80px;
    } 
    h1{
        font-size: 1.6rem;
    }
    h2{
        font-size: 1.6rem;
    }
    #ready{
        font-size: 1.6rem;
    }
    p{
        font-size: 0.9rem;
    }
    .about1 p{
        font-size: 0.9rem;
    }
    .about1 h3 {
        font-size: 1.5rem;
        padding-bottom: 5px;
    
    } 
}
