
.btn1{
    background-color:#D67FA1;
    color: black;
    border-radius: 5px;
    border: none;

}

#button{
    margin-top: 5%;
    display: block;
    text-align: center;
}

h2{
    text-align: center;
}
.container {
    margin-top: 8%;
}

img {
    height: 20rem;
    width: 100%;
}

@media (max-width: 768px) {

}

@media (min-width: 769px){

}