Form {
    max-width: 500px;
    margin: 0 auto;
    padding: 70px 50px 70px;
    background-color: RGBA(0, 128, 128, 0.3);
    margin-top: 100px;
}

.textpassword {
    color:white;
}

#loginButton {
margin-top: 40px;
    margin-bottom: 20px;
}
#emailText {
    color: white;
}

#passwordText {
    color: white;
}

#loginButton {
    background-color: #d9ecc7;
    color: teal;
    border: #d9ecc7;
}

#signupButton {
    background-color: teal;
    color: #d9ecc7;
    border: teal;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
}

#loginButton:hover {
    background-color: #c3d4b3;
}

#signupButton:hover {
    background-color: #007373;
}

#signUp {
    padding-bottom: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}