#main{
    background-color: #c8d9eb;
}
#headline{
    text-align: center;
    font-size: 40px;
    border-style: solid;
    margin:0 auto;
    display: table;
    background-color: #d67fa1;
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 25px;
    padding-right: 3%;
    padding-left: 3%;
}
#button{
    margin:0 auto;
    border-style:none;
    display:table;
    margin-top: 2%;
}
.button{
    border-style: solid;
    background-color: #E1A1BA;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    text-underline: none;
}
#dayChart{
    margin-top: 8%;
}
#cardContainer{
    margin-right: 5%;
    margin-top: 6%;
    margin-left: 5%;
}
#progressBar{
    align-content: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    border-style: solid;
    background-color: lightgray;


}